.img-responsive {
    display: inline-block;
}

#menuadmin {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 230px;
}

.mainwrapper.collapsed #menuadmin {
    width: 61px;
}

.panel-icon {
    text-align: center;
    vertical-align: middle;
    line-height: 76px;
}

.panel-icon .fa {
    padding: 0;
}

ul.children .badge {
    margin: 5px 15px 0 0;
}

.action-btns {
    white-space: nowrap;
}

.alert.alert-top {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.tab-content.no-border {
    border: none;
}

.modal-content .nav-wizard {
    border-radius: 0;
}

.nav-wizard {
    margin-bottom: 0;
}

.nav-wizard ul {
    margin: 0;
}

.nav-wizard li {
    display: table-cell;
    width: 1%;
}

.nav-wizard>li>a {
    border-radius: 0;
}

.nav-justified>li>a {
    margin-bottom: 0 !important;
}

.nav-wizard>li:first-child>a, .nav-wizard>li:last-child>a {
    border-radius: 0;
}

.form-group.vertical-spacing div+div {
    margin-top: 10px;
}

.form-group .select2-container {
    width: 100%;
}

.form-inline .select2-container {
    width: auto;
}

.select2-container .select2-choice {
    line-height: 34px;
}

.select2-container .select2-choice .select2-arrow b {
    background-position: 0 18px;
}

.ui-datepicker {
    z-index: 3000 !important;
}

.header-left.rutero, .header-left.picking {
    background: none;
    margin-left: 0;
    border-right: 0;
}

.mainwrapper.rutero:before, .mainwrapper.picking:before, .mainwrapper.rutero:after, .mainwrapper.picking:after {
    display: none;
    content: none;
}

@media (max-width: 640px) {
    .nav-wizard {
        background-color: #ddd;
    }
    .nav-wizard li span {
        display: none;
    }
    .nav-wizard li i {
        font-size: 2em;
    }
}

.ui-state-disabled {
    color: #ddd;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
}

#ui-datepicker-div .ui-state-active {
    border: 1px solid #7E7783;
    background: #5F5964;
    font-weight: bold;
    color: white;
    outline: none;
}

#ui-datepicker-div .ui-datepicker-header a {
    margin-top: 8px;
}

#ui-datepicker-div .ui-datepicker-header a span {
    display: block;
}

.tab-pane-scroll {
    height: 300px;
    width: 100%;
}

.leftpanel .nav>li.parent:after {
    right: 4px;
}

/** by jeans**/

.dash-choferes .title {}

.dash-choferes .icons {}

.dash-choferes h3.panel-title {
    font-size: 12px;
    text-transform: uppercase;
}

.dash-choferes .panel-heading {
    height: 60px;
}

.dash-simpliroute .title {}

.dash-simpliroute .icons {}

.dash-simpliroute h3.panel-title {
    font-size: 12px;
    text-transform: uppercase;
}

.dash-simpliroute .panel-heading {
    height: 60px;
}

label.button-print-all {
    padding: 20px 0px;
}

.select_date_assignorder {
    border: 0px;
    width: 1px !important;
    background-color: #f9f9f9 !important;
    height: 1px;
    padding: 0px;
}

.row-stat .panel .panel-heading {
    border-radius: 3px 3px 0 0;
}

.row-stat .panel-success-alt .panel-body {
    background-color: #5cb85c;
    color: #fff;
    /*
  max-height: 245px;
  overflow: scroll;
  */
}

.row-stat .panel-success-alt .panel-footer {
    background-color: #409a40;
    border-radius: 0 0 3px 3px;
    border-top: 0px;
    text-align: center;
}

.row-stat .panel-success-alt .panel-footer a {
    text-transform: uppercase;
    color: #fff;
}

.row-stat h1 {
    text-align: right;
}

.indicadores .table-striped>tbody>tr:nth-child(2n)>td, .indicadores .table-striped>tbody>tr:nth-child(2n)>th {
    /*background-color: #00000012;*/
    background-color: #fff;
    border-color: transparent;
}

.indicadores .table-striped>tbody>tr:nth-child(2n+1)>td, .indicadores .table-striped>tbody>tr:nth-child(2n+1)>th {
    /*background-color: #00000012;*/
    background-color: #ddd;
    border-color: transparent;
}

.indicadores .table tbody tr td {
    color: #636E7B
}

.indicadores .table thead tr th {
    font-weight: bold;
    color: #fff;
    border-color: #fff;
}

.indicadores .table>thead>tr>th, .indicadores .table>tbody>tr>th, .indicadores .table>tfoot>tr>th, .indicadores .table>thead>tr>td, .indicadores .table>tbody>tr>td, .indicadores .table>tfoot>tr>td {
    border-top: 0px;
}

.indicadores .panel-heading {
    padding: 18px 20px 0px 20px;
}

/*
.indicadores .table tbody tr td:first-child{
  border-radius: 3px 0 0 3px;
}

.indicadores .table tbody tr td:last-child{
  border-radius: 0 3px 3px 0;
}
*/

.indicadores .row-stat .panel-success-alt .panel-body {
    background-color: transparent;
    border: 1px solid #5cb85c;
}

.indicadores .mCSB_inside>.mCSB_container {
    margin-right: 20px;
}

.indicadores .panel-body {
    padding: 10px;
}

/**** Asignar pedidos a chofer y fecha ****/

.dash-choferes .list-group-item {
    padding: 10px;
}

.dash-choferes .group-item-flex {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.dash-choferes .group-item-flex div:nth-child(1) {
    padding: 0px 10px 0px 0px;
}

.dash-choferes .group-item-flex div.datos {
    width: 100%;
}

.dash-choferes .group-item-flex .row {
    padding: 0px 0 0 30px;
}

.dash-choferes .p-0 {
    padding: 0px;
}

.dash-choferes .filtro-group-fecha {
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.dash-choferes .select-group-fecha {
    padding: 18px;
    background: #eee;
    height: 40px;
    border-radius: 0px!important;
    border: 1px solid #cccccc;
}

.dash-simpliroute .list-group-item {
    padding: 10px;
}

.dash-simpliroute .group-item-flex {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.dash-simpliroute .group-item-flex div:nth-child(1) {
    padding: 0px 10px 0px 0px;
}

.dash-simpliroute .group-item-flex div.datos {
    width: 100%;
}

.dash-simpliroute .group-item-flex .row {
    padding: 0px 0 0 30px;
}

.dash-simpliroute .p-0 {
    padding: 0px;
}

.dash-simpliroute .filtro-group-fecha {
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.dash-simpliroute .select-group-fecha {
    padding: 18px;
    background: #eee;
    height: 40px;
    border-radius: 0px!important;
    border: 1px solid #cccccc;
}

.btn-group-ok {
    padding: 11px;
    border: 0px;
    background: #73b163;
    border-radius: 4px;
    color: #fff;
}

.dash-choferes .input[type=radio], input[type=checkbox] {
    margin: 4px 4px 0;
}

.dash-simpliroute .input[type=radio], input[type=checkbox] {
    margin: 4px 4px 0;
}

.dash-orders-to-beconfirmed .form-assign .form-group {
    margin: auto;
    padding: 5px 0px;
}

.dash-choferes .form-move .form-group {
    margin: auto;
    padding: 5px 0px;
}

.dash-choferes .form-move input.checkAll {
    margin: 14px 4px;
}

.dash-simpliroute .form-move .form-group {
    margin: auto;
    padding: 5px 0px;
}

.dash-simpliroute .form-move input.checkAll {
    margin: 14px 4px;
}

.dash-orders-to-beconfirmed .form-assign input.checkAll {
    margin: 14px 4px;
}

.mt-checkbox, .mt-radio {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
}

.mt-checkbox-inline, .mt-radio-inline {
    padding: 10px 0;
}

.mt-checkbox-inline .mt-checkbox, .mt-checkbox-inline .mt-radio, .mt-radio-inline .mt-checkbox, .mt-radio-inline .mt-radio {
    display: inline-block;
    margin-right: 15px;
}

.mt-checkbox-inline .mt-checkbox:last-child, .mt-checkbox-inline .mt-radio:last-child, .mt-radio-inline .mt-checkbox:last-child, .mt-radio-inline .mt-radio:last-child {
    margin-right: 0;
}

.mt-checkbox>input, .mt-radio>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    filter: alpha(opacity=0);
}

.mt-checkbox>span, .mt-radio>span {
    border: 1px solid transparent;
    position: absolute;
    top: 1px;
    left: 0;
    height: 18px;
    width: 18px;
    background: #E6E6E6;
}

.mt-checkbox.mt-checkbox-outline:hover>input:not([disabled]):checked~span, .mt-checkbox.mt-checkbox-outline:hover>input:not([disabled])~span, .mt-checkbox.mt-checkbox-outline>input:checked~span, .mt-checkbox.mt-checkbox-outline>input:focus~span, .mt-checkbox.mt-checkbox-outline>span, .mt-checkbox.mt-radio-outline:hover>input:not([disabled]):checked~span, .mt-checkbox.mt-radio-outline:hover>input:not([disabled])~span, .mt-checkbox.mt-radio-outline>input:checked~span, .mt-checkbox.mt-radio-outline>input:focus~span, .mt-checkbox.mt-radio-outline>span, .mt-radio.mt-checkbox-outline:hover>input:not([disabled]):checked~span, .mt-radio.mt-checkbox-outline:hover>input:not([disabled])~span, .mt-radio.mt-checkbox-outline>input:checked~span, .mt-radio.mt-checkbox-outline>input:focus~span, .mt-radio.mt-checkbox-outline>span, .mt-radio.mt-radio-outline:hover>input:not([disabled]):checked~span, .mt-radio.mt-radio-outline:hover>input:not([disabled])~span, .mt-radio.mt-radio-outline>input:checked~span, .mt-radio.mt-radio-outline>input:focus~span, .mt-radio.mt-radio-outline>span {
    border: 1px solid #d9d9d9;
    background: 0 0;
}

.mt-radio>span {
    -ms-border-radius: 50%!important;
    -o-border-radius: 50%!important;
    border-radius: 50%!important;
}

.input-icon>i, .mt-checkbox-list .mt-checkbox, .mt-checkbox-list .mt-radio, .mt-checkbox>input:checked~span:after, .mt-radio-list .mt-checkbox, .mt-radio-list .mt-radio, .mt-radio>input:checked~span:after {
    display: block;
}

.mt-radio>span:after {
    left: 5px;
    top: 5px;
    height: 6px;
    width: 6px;
    border-radius: 100%!important;
    background: #888;
}

.mt-checkbox>span:after, .mt-radio>span:after {
    content: '';
    position: absolute;
    display: none;
}

.checkAll-label, .span-text-aplicar, .wrapper-move {
    display: none;
}

.indicadores .mCustomScrollBox {
    overflow: inherit !important;
    max-width: 98% !important;
}

.indicadores .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
    height: 9px !important;
    margin: 4px 0 !important;
}

.indicadores .mCSB_scrollTools_vertical .mCSB_dragger_bar {
    margin: 0px 3px !important;
}

.indicadores .mCSB_scrollTools_vertical .mCSB_draggerContainer {
    left: 18px !important;
}

.indicadores .mCSB_vertical_horizontal .mCSB_container_wrapper {
    margin-right: 0px !important;
    margin-bottom: 16px !important;
}

.indicadores .mCSB_container_wrapper>.mCSB_container {
    padding-right: 0px !important;
}

.indicadores .table-dark tfoot tr th {
    background-color: #4e5154;
}

.form-radio-inline {
    margin: 20px 10px;
}

.form-radio-inline input[type=radio] {
    margin: 2px -20px;
}

.dash-simpliroute .panel-heading.accordion {
    height: 40px;
}

.panel-group .panel-heading.accordion {
    padding: 12px;
}

.panel-title>a.title-accordion {
    color: inherit;
    width: 100%;
    position: relative;
    display: inline-block;
}

@media (max-width: 1024px) {
    .dash-choferes .btn-group-ok {
        margin: 0px -6px;
    }
    .dash-simpliroute .btn-group-ok {
        margin: 0px -6px;
    }
}

@media (max-width: 991px) {
    .dash-choferes .form-move .form-group {
        margin-top: 0px;
    }
    .dash-choferes .form-move .form-group {
        margin: 5px;
        padding: 5px 0px;
    }
    .dash-choferes .form-move input.checkAll {
        margin: 14px 20px;
    }
    .checkAll-label, .span-text-aplicar {
        display: inline-block;
    }
    .dash-choferes .btn-group-ok {
        margin: 0 auto;
    }
    .dash-simpliroute .form-move .form-group {
        margin-top: 0px;
    }
    .dash-simpliroute .form-move .form-group {
        margin: 5px;
        padding: 5px 0px;
    }
    .dash-simpliroute .form-move input.checkAll {
        margin: 14px 20px;
    }
    .dash-simpliroute .btn-group-ok {
        margin: 0 auto;
    }
}