h1 {
    font-size: 18px;
}

th {
    font-size: 12px;
}

td {
    font-size: 12px;
}

@media screen,
print {
    body {
        background: #A5AEB5;
    }
    .page {
        background: white;
        box-shadow: rgba(0, 0, 0, .3) 0 5px 20px;
        margin: 20px auto;
    }
    .item__lista--imprimir,
    .item__lista--picking {
        list-style: none;
        padding-left: 20px;
    }
    .item__lista--imprimir li,
    .item__lista--picking li {
        position: relative;
    }
    .item__lista--imprimir li::before {
        content: '';
        border: solid 1px black;
        display: inline-block;
        width: 15px;
        height: 15px;
        vertical-align: top;
        position: absolute;
        left: -23px;
    }
    .tabla__imprimir tbody tr:nth-child(even) td {
        border-top: none;
    }
    .tabla__imprimir thead th:nth-child(3) {
        width: 25%;
    }
    .formapago__lista {
        display: table;
        table-layout: fixed;
        /*width: 85%;*/
        /*width: 90%;*/
        width: 100%;
    }
    .forma__pago--box {
        text-align: right;
    }
    .forma__pago--box i {
        display: inline-block;
        width: 15px;
        height: 15px;
        border: solid 1px black;
        margin-right: 1em;
        vertical-align: top;
    }
    .formapago__lista li {
        display: inline;
        padding-right: 10px;
        /* margin-right: 15px; */
    }
    .formapago__lista li i {
        border: solid 1px black;
        display: inline-block;
        margin-right: 0.3em;
        margin-bottom: -0.3em;
        font-size: 10px;
        width: 15px;
        height: 15px;
        text-align: center;
    }
    table {
        page-break-before: auto
    }
    .item__lista--picking input[type=checkbox] {
        width: 20px;
        font-size: 20px;
        padding: 13px;
        display: inline-block;
    }
    .tabla__imprimir address p {
        margin: 0 0 10px;
        overflow-wrap: break-word;
        width: 100%;
    }
}